{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main technologies-main" role="main">
        <div class="landing-page">
            <h1 class="technologies-rubric sub-page-header"> Technologies </h1>
            {% for tech in meta.Techs %}
                <a class= {{ tech.gclass }} href="{{ base_url }}/technology/{{ tech.class }}">
                    <div class="{{ tech.class }} {{ tech.gclass }} box">
                        <i class="{{ tech.icon }} tech-icon" aria-hidden="true"></i>
                        <h2>{{ tech.name }}</h2>
                    </div>
                </a>
            {% endfor %}

    </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
